#layout-wrapper{
    position: fixed;
    z-index: 0;
    left: 50%;
    top: 50%;
    height: 450px;
    width: 400px;
    border: 5px solid white;
    background-color:white;
    border-radius: 5px;
    transform: translate(-50%, -50%);
    padding:30px;
    box-shadow: 0px 0px 10px  rgba(0,0,0,1);
    }
    
    #login-form-wrapper{
        margin-left:5%;
    }
    
    #title{
        font-size: 250%;
        padding-top: 10%;
    }
    
    #user-input{
        position:absolute;
        margin-top: 10%;
    }
    
    #pass-input{
        position:absolute;
        margin-top: 30%;
    }
    
    #remember-section{
        position:absolute;
        margin-top: 140px;
    }

  /* #error{
    position: absolute;
    display: block;
    width:max-content;
    margin-top: 10%;
    margin-left: 400px;
    color:white;
    background-color: #000000;
    padding: 10px;
    border-radius: 5px;
  } */
    

    #submit{
      margin-top: 150px;
      position:absolute;
      border:none;
      display: block;
      margin: 200px auto;
      padding: 10px 40px;
      font-family: "Roboto", sans-serif;
      font-size: 18px;
      font-weight: bold;
      background: #1c2020;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
      color: #fff;
      border-radius: 5px;
      cursor: pointer;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      -webkit-transition-duration: 0.3s;
      transition-duration: 0.3s;
      -webkit-transition-property: box-shadow, transform;
      transition-property: box-shadow, transform;
  }
  #submit:hover, #submit:focus, #submit:active{
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
  }
        
  
      .wrapper .input-data{
        height: 40px;
        width: 100%;
      }
      .wrapper .input-data input{
        height: 100%;
        width: 100%;
        border: none;
        font-size: 17px;
        border-bottom: 2px solid silver;
      }
      .input-data input:focus ~ label,
      .input-data input:valid ~ label{
        transform: translateY(-20px);
        font-size: 15px;
        color: #D44242;
      }
      .wrapper .input-data label{
        position: absolute;
        bottom: 10px;
        left: 0;
        color: grey;
        pointer-events: none;
        transition: all 0.3s ease;
      }
      .input-data .underline{
        position: absolute;
        height: 2px;
        width: 100%;
        bottom: 0;
      }
      .input-data .underline:before{
        position: absolute;
        content: "";
        height: 100%;
        width: 100%;
        background: #D44242;
        transform: scaleX(0);
        transform-origin: center;
        transition: transform 0.3s ease;
      }
      .input-data input:focus ~ .underline:before,
      .input-data input:valid ~ .underline:before{
        transform: scaleX(1);
      }

      